<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_xinshoulibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1196},{116,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{116,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>02_yuyinlaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1607},{106,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{106,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>03_shouchongdalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1393},{114,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{114,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>04_5Sxinshoulibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1428},{110,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>05_yueguangzhiyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1540},{100,114}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{100,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>06_yueguangzhiyao×3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1505},{100,114}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{100,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>07_yueguangbaohe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{120,114}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{120,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>11_jiangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{130,110}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{130,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>12_yingxiongtie.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,882},{110,118}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{110,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>13_cansaiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,750},{130,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{130,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>14_jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1283},{116,108}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{116,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>coin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1715},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>coin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1715},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>coin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,345},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>coin04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,408},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>coin05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1715},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>coin06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1715},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>coin07.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,470},{91,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,66}}</string>
                <key>sourceSize</key>
                <string>{91,66}</string>
            </dict>
            <key>coin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1314},{112,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{112,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>coin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{134,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{134,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>goods_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,660},{101,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>goods_vip_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1642},{99,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>mobile_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1183},{120,98}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{120,98}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mobile_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,994},{120,100}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{120,100}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mobile_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1096},{120,98}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{120,98}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mobile_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1083},{120,98}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{120,98}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mobile_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,538},{120,102}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{120,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>other/alert_title_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{192,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>other/quit_pic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{170,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,233}}</string>
                <key>sourceSize</key>
                <string>{170,233}</string>
            </dict>
            <key>other/quit_pic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,241}}</string>
                <key>sourceSize</key>
                <string>{169,241}</string>
            </dict>
            <key>other/tab_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{146,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,35}}</string>
                <key>sourceSize</key>
                <string>{146,35}</string>
            </dict>
            <key>other/tab_diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{146,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,41}}</string>
                <key>sourceSize</key>
                <string>{146,41}</string>
            </dict>
            <key>other/tab_shop01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{147,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,35}}</string>
                <key>sourceSize</key>
                <string>{147,35}</string>
            </dict>
            <key>other/tab_shop012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{152,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,43}}</string>
                <key>sourceSize</key>
                <string>{152,43}</string>
            </dict>
            <key>other/tab_shop02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>other/tab_shop03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{147,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,35}}</string>
                <key>sourceSize</key>
                <string>{147,35}</string>
            </dict>
            <key>other/tab_shop032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{146,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,41}}</string>
                <key>sourceSize</key>
                <string>{146,41}</string>
            </dict>
            <key>other/tab_shop04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{186,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,40}}</string>
                <key>sourceSize</key>
                <string>{186,40}</string>
            </dict>
            <key>other/title_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1642},{68,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchangeitems.png</string>
            <key>size</key>
            <string>{255,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c8ec25c48c0c188f811bdcfc731163:1/1$</string>
            <key>textureFileName</key>
            <string>exchangeitems.png</string>
        </dict>
    </dict>
</plist>
