<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_icon_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,282},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>hall_newplayerreward_beiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{252,250}</string>
            </dict>
            <key>hall_newplayerreward_bjinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{146,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{146,144}</string>
            </dict>
            <key>hall_newplayerreward_huangxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,282},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>hall_newplayerreward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,256},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_newplayer_reward.png</string>
            <key>size</key>
            <string>{254,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dc18ec51b5477f29b2efc86f8cf4c73:1/1$</string>
            <key>textureFileName</key>
            <string>hall_newplayer_reward.png</string>
        </dict>
    </dict>
</plist>
