<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_guide_arrow_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,442},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>hall_guide_dashifen_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>hall_guide_next_btn_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>hall_guide_next_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,346},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>hall_guide_next_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>hall_guide_next_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>hall_guide_small_arrow_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,78},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>hall_guide_tip_big_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hall_guide_tip_small_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>hall_guide_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,238},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,28}}</string>
                <key>sourceSize</key>
                <string>{106,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_newplayer_guide.png</string>
            <key>size</key>
            <string>{96,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c97071193e8d921c413a86de2d59a5e:1/1$</string>
            <key>textureFileName</key>
            <string>hall_newplayer_guide.png</string>
        </dict>
    </dict>
</plist>
