<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_bag_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,58},{94,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,69}}</string>
                <key>sourceSize</key>
                <string>{94,69}</string>
            </dict>
            <key>hall_bag_items_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,58},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hall_bag_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,58},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hall_bag_tip_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,54},{254,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,2}}</string>
                <key>sourceSize</key>
                <string>{254,2}</string>
            </dict>
            <key>hall_bag_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,220}}</string>
                <key>sourceSize</key>
                <string>{320,220}</string>
            </dict>
            <key>hall_bag_tips_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_bag.png</string>
            <key>size</key>
            <string>{626,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcab134b1fd85e3913ba74b8cfa0eeec:1/1$</string>
            <key>textureFileName</key>
            <string>hall_bag.png</string>
        </dict>
    </dict>
</plist>
