<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_tip_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,644},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>btn_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,872},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>btn_ad_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,753},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>btn_ad_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,753},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>btn_arena_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,644},{160,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,159}}</string>
                <key>sourceSize</key>
                <string>{160,159}</string>
            </dict>
            <key>btn_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,872},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>btn_calendar.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,827},{161,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,63}}</string>
                <key>sourceSize</key>
                <string>{161,63}</string>
            </dict>
            <key>btn_match_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,646},{119,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,114}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>btn_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,892},{170,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,54}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
            <key>btn_more_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,948},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>btn_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,872},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>btn_new_user_guide_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,362},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>btn_new_user_guide_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1004},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,805},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>btn_severvice.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,201},{159,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,65}}</string>
                <key>sourceSize</key>
                <string>{159,65}</string>
            </dict>
            <key>btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,762},{161,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,63}}</string>
                <key>sourceSize</key>
                <string>{161,63}</string>
            </dict>
            <key>btn_tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,879},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>dehzhou_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,263},{210,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,199}}</string>
                <key>sourceSize</key>
                <string>{210,199}</string>
            </dict>
            <key>douniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,263},{215,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,178}}</string>
                <key>sourceSize</key>
                <string>{215,178}</string>
            </dict>
            <key>douniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,464},{215,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,178}}</string>
                <key>sourceSize</key>
                <string>{215,178}</string>
            </dict>
            <key>fruit_icon_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,882},{215,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,178}}</string>
                <key>sourceSize</key>
                <string>{215,178}</string>
            </dict>
            <key>game_cut_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,135},{4,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,104}}</string>
                <key>sourceSize</key>
                <string>{4,104}</string>
            </dict>
            <key>game_ico_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,464},{210,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,199}}</string>
                <key>sourceSize</key>
                <string>{210,199}</string>
            </dict>
            <key>hall_advertise001.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,135},{630,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,126}}</string>
                <key>sourceSize</key>
                <string>{630,126}</string>
            </dict>
            <key>hall_advertise_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{636,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,131}}</string>
                <key>sourceSize</key>
                <string>{636,131}</string>
            </dict>
            <key>hall_button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,81},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>hall_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,614},{73,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,59}}</string>
                <key>sourceSize</key>
                <string>{73,59}</string>
            </dict>
            <key>hall_hall_btn_more_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,948},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>hall_hall_game_ico_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,464},{210,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,199}}</string>
                <key>sourceSize</key>
                <string>{210,199}</string>
            </dict>
            <key>hall_hall_more_game_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>hall_hall_more_game_update_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,707},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hall_hall_title_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1002},{130,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,103}}</string>
                <key>sourceSize</key>
                <string>{130,103}</string>
            </dict>
            <key>hall_hall_title_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,870},{130,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,103}}</string>
                <key>sourceSize</key>
                <string>{130,103}</string>
            </dict>
            <key>hall_hall_title_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,127},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>hall_hall_title_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1065},{117,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,23}}</string>
                <key>sourceSize</key>
                <string>{117,23}</string>
            </dict>
            <key>hall_hall_top_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1103,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1103,277}}</string>
                <key>sourceSize</key>
                <string>{1103,277}</string>
            </dict>
            <key>hall_head_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,665},{212,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,42}}</string>
                <key>sourceSize</key>
                <string>{212,42}</string>
            </dict>
            <key>hall_led_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,569},{77,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,43}}</string>
                <key>sourceSize</key>
                <string>{77,43}</string>
            </dict>
            <key>hall_person_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,948},{142,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,54}}</string>
                <key>sourceSize</key>
                <string>{142,54}</string>
            </dict>
            <key>hall_plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,785},{150,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,83}}</string>
                <key>sourceSize</key>
                <string>{150,83}</string>
            </dict>
            <key>hall_text_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,707},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>hall_text_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1065},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>hall_text_person.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1072},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>head_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1004},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,646},{140,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,137}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>majiang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,263},{210,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,199}}</string>
                <key>sourceSize</key>
                <string>{210,199}</string>
            </dict>
            <key>menu_buttondown.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1065},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>menu_normal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,569},{222,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,75}}</string>
                <key>sourceSize</key>
                <string>{222,75}</string>
            </dict>
            <key>more_game_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>more_game_update_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,707},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>points.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,675},{69,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,30}}</string>
                <key>sourceSize</key>
                <string>{69,30}</string>
            </dict>
            <key>t3card_icon_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,665},{215,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,178}}</string>
                <key>sourceSize</key>
                <string>{215,178}</string>
            </dict>
            <key>user_inf_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,443},{249,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,124}}</string>
                <key>sourceSize</key>
                <string>{249,124}</string>
            </dict>
            <key>user_sex_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,975},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>user_sex_women.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1086},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1013,1107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aafc414a8870449293840ca0c4692c73:1/1$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
