<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_help_playmode_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,969},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,34}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>hall_help_playmode_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,296},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,34}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>hall_help_question_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,810},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,34}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>hall_help_question_normal_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,810},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,34}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>hall_shop_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,922},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>hall_shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{986,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{986,564}}</string>
                <key>sourceSize</key>
                <string>{986,564}</string>
            </dict>
            <key>hall_shop_btn_bg_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,262},{145,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,56}}</string>
                <key>sourceSize</key>
                <string>{145,56}</string>
            </dict>
            <key>hall_shop_btn_bg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,149},{145,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,56}}</string>
                <key>sourceSize</key>
                <string>{145,56}</string>
            </dict>
            <key>hall_shop_btn_bg_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{145,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,56}}</string>
                <key>sourceSize</key>
                <string>{145,56}</string>
            </dict>
            <key>hall_shop_btn_buy_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,990},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>hall_shop_btn_buy_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,990},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>hall_shop_btn_buy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>hall_shop_btn_exchange_his_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,990},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>hall_shop_btn_exchange_his_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,990},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>hall_shop_btn_exchange_his_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,990},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>hall_shop_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,734},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>hall_shop_item_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,650},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>hall_shop_item_info_widow.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,262},{249,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,89}}</string>
                <key>sourceSize</key>
                <string>{249,89}</string>
            </dict>
            <key>hall_shop_item_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,409},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>hall_shop_left_button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,493},{155,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,67}}</string>
                <key>sourceSize</key>
                <string>{155,67}</string>
            </dict>
            <key>hall_shop_plus_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,968},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>hall_shop_recharge_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,817},{150,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,102}}</string>
                <key>sourceSize</key>
                <string>{150,102}</string>
            </dict>
            <key>hall_shop_recharge_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,665},{150,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,102}}</string>
                <key>sourceSize</key>
                <string>{150,102}</string>
            </dict>
            <key>hall_shop_recharge_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,513},{150,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,102}}</string>
                <key>sourceSize</key>
                <string>{150,102}</string>
            </dict>
            <key>hall_shop_shop_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{258,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,154}}</string>
                <key>sourceSize</key>
                <string>{258,154}</string>
            </dict>
            <key>hall_shop_shoping_exchange_hover_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,296},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>hall_shop_shoping_exchange_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,414},{67,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,32}}</string>
                <key>sourceSize</key>
                <string>{67,32}</string>
            </dict>
            <key>hall_shop_shoping_tag_normal_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,355},{57,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,25}}</string>
                <key>sourceSize</key>
                <string>{57,25}</string>
            </dict>
            <key>hall_shop_shoping_tag_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,493},{68,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,31}}</string>
                <key>sourceSize</key>
                <string>{68,31}</string>
            </dict>
            <key>hall_shop_shoping_vip_normal_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,734},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,28}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>hall_shop_shoping_vip_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,834},{105,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,31}}</string>
                <key>sourceSize</key>
                <string>{105,31}</string>
            </dict>
            <key>hall_shop_small_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,990},{45,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,25}}</string>
                <key>sourceSize</key>
                <string>{45,25}</string>
            </dict>
            <key>hall_shop_sub_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,634},{36,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,13}}</string>
                <key>sourceSize</key>
                <string>{36,13}</string>
            </dict>
            <key>hall_shop_tag_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,599},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>hall_shop_tag_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,563},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_shop.png</string>
            <key>size</key>
            <string>{782,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f52bb1f8361ca01125f2655e4531d188:1/1$</string>
            <key>textureFileName</key>
            <string>hall_shop.png</string>
        </dict>
    </dict>
</plist>
