<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,560},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,467},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,374},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,653},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,560},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,188},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,188},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,95},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,95},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,653},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,560},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010028.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010029.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010030.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,653},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010031.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,560},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010032.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010033.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010034.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010035.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010036.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010037.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010038.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,653},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010039.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,560},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010040.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010041.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010042.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010043.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010044.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010045.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010046.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,653},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010047.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,560},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010048.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010049.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010050.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010051.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010052.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010053.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
            <key>0010058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,560},{277,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,91}}</string>
                <key>sourceSize</key>
                <string>{277,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_quick_start_animation.png</string>
            <key>size</key>
            <string>{1955,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a47be1a41cbae8de15a625feb3874f3c:1/1$</string>
            <key>textureFileName</key>
            <string>hall_quick_start_animation.png</string>
        </dict>
    </dict>
</plist>
