<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_hall_advertise_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{662,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,90}}</string>
                <key>sourceSize</key>
                <string>{662,90}</string>
            </dict>
            <key>hall_hall_advertise_cur.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,294},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>hall_hall_advertise_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,718},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>hall_hall_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,109}}</string>
                <key>sourceSize</key>
                <string>{1020,109}</string>
            </dict>
            <key>hall_hall_btn_bag_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,798},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>hall_hall_btn_bag_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,798},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>hall_hall_btn_bag_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,738},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>hall_hall_btn_exchange_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,612},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>hall_hall_btn_exchange_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1058},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>hall_hall_btn_exchange_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1058},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>hall_hall_btn_help_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,618},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>hall_hall_btn_help_horver.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,678},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>hall_hall_btn_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,618},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>hall_hall_btn_mode_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,602},{136,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,46}}</string>
                <key>sourceSize</key>
                <string>{136,46}</string>
            </dict>
            <key>hall_hall_btn_mode_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,812},{136,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,46}}</string>
                <key>sourceSize</key>
                <string>{136,46}</string>
            </dict>
            <key>hall_hall_btn_mode_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,474},{136,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,46}}</string>
                <key>sourceSize</key>
                <string>{136,46}</string>
            </dict>
            <key>hall_hall_btn_newplayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,796},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>hall_hall_btn_newplayer_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1026},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hall_hall_btn_newplayer_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,998},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hall_hall_btn_pay_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1054},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>hall_hall_btn_pay_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1054},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>hall_hall_btn_pay_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1046},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>hall_hall_btn_quickgame_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,310},{306,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,108}}</string>
                <key>sourceSize</key>
                <string>{306,108}</string>
            </dict>
            <key>hall_hall_btn_quickgame_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,666},{306,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,108}}</string>
                <key>sourceSize</key>
                <string>{306,108}</string>
            </dict>
            <key>hall_hall_btn_quickgame_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{306,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,108}}</string>
                <key>sourceSize</key>
                <string>{306,108}</string>
            </dict>
            <key>hall_hall_btn_quickgame_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,294},{306,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,108}}</string>
                <key>sourceSize</key>
                <string>{306,108}</string>
            </dict>
            <key>hall_hall_btn_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,906},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>hall_hall_btn_reward_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,872},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>hall_hall_btn_reward_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,740},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>hall_hall_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1046},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>hall_hall_btn_shop_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,938},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hall_hall_btn_shop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,974},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>hall_hall_btn_user_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,806},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>hall_hall_btn_user_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,950},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>hall_hall_btn_user_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>hall_hall_led_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{654,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,32}}</string>
                <key>sourceSize</key>
                <string>{654,32}</string>
            </dict>
            <key>hall_hall_master_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{142,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,16}}</string>
                <key>sourceSize</key>
                <string>{142,16}</string>
            </dict>
            <key>hall_hall_master_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,310},{162,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,36}}</string>
                <key>sourceSize</key>
                <string>{162,36}</string>
            </dict>
            <key>hall_hall_user_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{290,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,138}}</string>
                <key>sourceSize</key>
                <string>{290,138}</string>
            </dict>
            <key>hall_hall_user_head_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,976},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>hall_hall_user_head_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,898},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>hall_hall_user_head_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,948},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>hall_hall_user_head_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,718},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>hall_hall_user_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,658},{152,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,25}}</string>
                <key>sourceSize</key>
                <string>{152,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_hall.png</string>
            <key>size</key>
            <string>{511,1089}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e925bda6c7aeb61120c3014f9011135e:1/1$</string>
            <key>textureFileName</key>
            <string>hall_hall.png</string>
        </dict>
    </dict>
</plist>
