<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_common_01_xinshoulibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1311},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_02_yuyinlaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1169},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_03_shouchongdalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1027},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_04_5Sxinshoulibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,885},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_05_yueguangzhiyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1311},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_06_yueguangzhiyaox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1169},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1101},{53,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,38}}</string>
                <key>sourceSize</key>
                <string>{53,38}</string>
            </dict>
            <key>hall_common_btn_close_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1543},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>hall_common_btn_close_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,200},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>hall_common_btn_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1543},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>hall_common_button_blue_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,991},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>hall_common_button_blue_l_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1539},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>hall_common_button_blue_l_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,730},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>hall_common_button_blue_l_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,575},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>hall_common_button_blue_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,953},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>hall_common_button_blue_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,915},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>hall_common_button_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,877},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>hall_common_button_large_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1265},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>hall_common_button_yellow_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,839},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>hall_common_button_yellow_l_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1169},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>hall_common_button_yellow_l_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,743},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>hall_common_button_yellow_l_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,537},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>hall_common_button_yellow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,833},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>hall_common_button_yellow_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1361},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>hall_common_curtain_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,640}}</string>
                <key>sourceSize</key>
                <string>{173,640}</string>
            </dict>
            <key>hall_common_dashifen_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,171},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>hall_common_dashifen_title_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,743},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,41}}</string>
                <key>sourceSize</key>
                <string>{117,41}</string>
            </dict>
            <key>hall_common_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,325},{53,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,38}}</string>
                <key>sourceSize</key>
                <string>{53,38}</string>
            </dict>
            <key>hall_common_goods_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1453},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>hall_common_goods_vip_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1453},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>hall_common_great_master_diamond_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,833},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hall_common_great_master_person_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1453},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>hall_common_great_master_question_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,671},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>hall_common_ico_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,400},{210,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,199}}</string>
                <key>sourceSize</key>
                <string>{210,199}</string>
            </dict>
            <key>hall_common_icon_charm.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1549},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>hall_common_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1505},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>hall_common_icon_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1141},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>hall_common_icon_credit_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1543},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>hall_common_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,694},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>hall_common_icon_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,743},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>hall_common_icon_newquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1437},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>hall_common_icon_newquan_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,575},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>hall_common_icon_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,575},{42,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>hall_common_icondiamonds_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,400},{135,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,104}}</string>
                <key>sourceSize</key>
                <string>{135,104}</string>
            </dict>
            <key>hall_common_loader_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1505},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>hall_common_loader_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1029},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall_common_mobile_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1027},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_mobile_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,885},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_mobile_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,743},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_mobile_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,601},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_mobile_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,601},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_msgbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{396,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,272}}</string>
                <key>sourceSize</key>
                <string>{396,272}</string>
            </dict>
            <key>hall_common_msgbox_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,644},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>hall_common_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,171},{152,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,25}}</string>
                <key>sourceSize</key>
                <string>{152,25}</string>
            </dict>
            <key>hall_common_revers_07_yueguangbaohe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1423},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_revers_11_jiangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1281},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_revers_12_yingxiongtie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1139},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_revers_13_cansaiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,997},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_revers_14_jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,855},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_split_frame_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{406,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,5}}</string>
                <key>sourceSize</key>
                <string>{406,5}</string>
            </dict>
            <key>hall_common_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,644},{209,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,129}}</string>
                <key>sourceSize</key>
                <string>{209,129}</string>
            </dict>
            <key>hall_common_txt_duan.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1141},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>hall_common_user_coupon_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{167,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,36}}</string>
                <key>sourceSize</key>
                <string>{167,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_common.png</string>
            <key>size</key>
            <string>{511,1578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37bdc1b0c6ebf778f59f6f209b2a36ea:1/1$</string>
            <key>textureFileName</key>
            <string>hall_common.png</string>
        </dict>
    </dict>
</plist>
