<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_userinfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{677,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,389}}</string>
                <key>sourceSize</key>
                <string>{677,389}</string>
            </dict>
            <key>hall_userinfo_btn_change_head_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,737},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>hall_userinfo_btn_change_head_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,709},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>hall_userinfo_btn_change_head_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,681},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>hall_userinfo_btn_detail_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,789},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_detail_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,765},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_detail_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,801},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_exchange_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,761},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_exchange_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,721},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_exchange_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,681},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_modify_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,892},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>hall_userinfo_btn_modify_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,892},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>hall_userinfo_btn_modify_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>hall_userinfo_btn_pay_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,929},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_pay_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,929},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_pay_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,929},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_reward_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,929},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_reward_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,892},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_btn_reward_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,892},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>hall_userinfo_editbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,681},{148,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,23}}</string>
                <key>sourceSize</key>
                <string>{148,23}</string>
            </dict>
            <key>hall_userinfo_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,831},{127,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{127,129}</string>
            </dict>
            <key>hall_userinfo_head_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,805},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>hall_userinfo_head_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,681},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>hall_userinfo_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,929},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>hall_userinfo_radio.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,765},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>hall_userinfo_radio_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,935},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>hall_userinfo_radio_bg_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,935},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>hall_userinfo_radio_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>hall_userinfo_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{209,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,129}}</string>
                <key>sourceSize</key>
                <string>{209,129}</string>
            </dict>
            <key>hall_userinfo_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,932},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_userinfo.png</string>
            <key>size</key>
            <string>{393,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:963c3f8a8a6935cfc974c29d21f6b570:1/1$</string>
            <key>textureFileName</key>
            <string>hall_userinfo.png</string>
        </dict>
    </dict>
</plist>
