<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_getbonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,90},{124,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,33}}</string>
                <key>sourceSize</key>
                <string>{124,33}</string>
            </dict>
            <key>activity_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>activity_title_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,33},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>btn_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{220,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,86}}</string>
                <key>sourceSize</key>
                <string>{220,86}</string>
            </dict>
            <key>btn_sub_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{220,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,86}}</string>
                <key>sourceSize</key>
                <string>{220,86}</string>
            </dict>
            <key>cards_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,90},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>everyday_reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{148,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,29}}</string>
                <key>sourceSize</key>
                <string>{148,29}</string>
            </dict>
            <key>lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,33},{67,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,30}}</string>
                <key>sourceSize</key>
                <string>{67,30}</string>
            </dict>
            <key>poker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{104,128}</string>
            </dict>
            <key>selectmode_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,90},{171,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,35}}</string>
                <key>sourceSize</key>
                <string>{171,35}</string>
            </dict>
            <key>selectmode_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,86},{171,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,36}}</string>
                <key>sourceSize</key>
                <string>{171,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lotteryaward.png</string>
            <key>size</key>
            <string>{770,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0e20d5f963b5674a2e8ccd9614ffb0c:1/1$</string>
            <key>textureFileName</key>
            <string>lotteryaward.png</string>
        </dict>
    </dict>
</plist>
