<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beibao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,428}}</string>
                <key>sourceSize</key>
                <string>{358,428}</string>
            </dict>
            <key>frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,241},{82,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,577}}</string>
                <key>sourceSize</key>
                <string>{82,577}</string>
            </dict>
            <key>frame_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,375},{82,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,264}}</string>
                <key>sourceSize</key>
                <string>{82,264}</string>
            </dict>
            <key>gamepanel/hall_btn_click_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,432},{178,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,66}}</string>
                <key>sourceSize</key>
                <string>{178,66}</string>
            </dict>
            <key>gamepanel/hall_btn_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,375},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>gamepanel/hall_btn_match_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>gamepanel/hall_btn_normal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{178,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,66}}</string>
                <key>sourceSize</key>
                <string>{178,66}</string>
            </dict>
            <key>gamepanel/hall_btn_quick_start_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,375},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>gamepanel/hall_btn_quick_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>gamepanel/hall_btn_vip_room_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>gamepanel/hall_main_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{237,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,463}}</string>
                <key>sourceSize</key>
                <string>{237,463}</string>
            </dict>
            <key>hall_userinfo_aera_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,491},{374,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,2}}</string>
                <key>sourceSize</key>
                <string>{374,2}</string>
            </dict>
            <key>hall_userinfo_btn_modify_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,220},{82,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{82,32}</string>
            </dict>
            <key>hall_userinfo_btn_save_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,455},{82,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{82,32}</string>
            </dict>
            <key>hall_userinfo_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,375},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>hall_userinfo_head_click_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,455},{100,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,32}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>hall_userinfo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,459},{240,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,30}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>userinfo_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,325},{274,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,48}}</string>
                <key>sourceSize</key>
                <string>{274,48}</string>
            </dict>
            <key>userpanel/hall_btn_user_info_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,192},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
            <key>userpanel/hall_btn_user_info_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,210},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
            <key>userpanel/hall_btn_user_sex_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,459},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>userpanel/hall_user_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,118},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ziliao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,325},{336,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,48}}</string>
                <key>sourceSize</key>
                <string>{336,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nopack2.png</string>
            <key>size</key>
            <string>{983,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c19765026f0d50ffcea4b6022f21f96:1/1$</string>
            <key>textureFileName</key>
            <string>nopack2.png</string>
        </dict>
    </dict>
</plist>
