<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,170},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,170},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,86},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,86},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,86},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,170},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,86},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,170},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,86},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,170},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,86},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>box_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{734,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b714cdb3f05b96249b8853879092d5:1/1$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
