<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,440},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1078},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>btn_cash_lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1418},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1011},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1690},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>btn_my_inf.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,290},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>btn_quick_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1369},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>btn_top_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,241},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>btn_tuiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,374},{222,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,88}}</string>
                <key>sourceSize</key>
                <string>{222,88}</string>
            </dict>
            <key>check_size_tmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,374},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>common_second_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1457},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>common_second_bk_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1620},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>girl_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,816},{193,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,191}}</string>
                <key>sourceSize</key>
                <string>{193,191}</string>
            </dict>
            <key>great_master_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,602},{158,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,61}}</string>
                <key>sourceSize</key>
                <string>{158,61}</string>
            </dict>
            <key>great_master_gift_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,665},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>hall_bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1745},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>hall_btn_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1626},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>hall_btn_mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1801},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>hall_btn_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1886},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{33,45}</string>
            </dict>
            <key>hall_btn_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1844},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>hall_hall_bottom_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,506},{92,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>hall_hall_btn_more_game_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1626},{258,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,47}}</string>
                <key>sourceSize</key>
                <string>{258,47}</string>
            </dict>
            <key>hall_hall_img_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{305,573}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,573}}</string>
                <key>sourceSize</key>
                <string>{305,573}</string>
            </dict>
            <key>hall_hall_menu_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{206,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,4}}</string>
                <key>sourceSize</key>
                <string>{206,4}</string>
            </dict>
            <key>hall_hall_title_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1546},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>hall_hall_top_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{1103,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1103,277}}</string>
                <key>sourceSize</key>
                <string>{1103,277}</string>
            </dict>
            <key>hall_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1324},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>hall_main_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,463}}</string>
                <key>sourceSize</key>
                <string>{237,463}</string>
            </dict>
            <key>hall_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1252},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>head_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1544},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>head_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1464},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1145},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
            <key>line_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,210},{390,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,2}}</string>
                <key>sourceSize</key>
                <string>{390,2}</string>
            </dict>
            <key>menu_buttondown_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1145},{222,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,75}}</string>
                <key>sourceSize</key>
                <string>{222,75}</string>
            </dict>
            <key>num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,665},{142,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{142,58}</string>
            </dict>
            <key>num_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,241},{130,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,25}}</string>
                <key>sourceSize</key>
                <string>{130,25}</string>
            </dict>
            <key>num_bg_master.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,755},{72,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,268},{104,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{104,128}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,755},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_first_level.png</string>
            <key>size</key>
            <string>{474,1921}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:312e9dcefc32f3e133f433b61f41188f:1/1$</string>
            <key>textureFileName</key>
            <string>common_first_level.png</string>
        </dict>
    </dict>
</plist>
