<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>b/bigtag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{80,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{80,91}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>b/bigtag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{82,85}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{82,85}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>b/bigtag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,89},{82,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{82,77}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>b/bigtag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,95},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{80,89}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>b/bigtag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,106},{97,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>b/bigtag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,136},{93,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>b/bigtag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{102,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,93}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>b/black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{46,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,204},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,216},{32,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,56},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,54},{48,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,210},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,213},{38,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,146},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,110},{34,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,213},{36,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,54},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/dizhutag.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,168},{101,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>b/gaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{132,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,115}}</string>
                <key>sourceSize</key>
                <string>{132,115}</string>
            </dict>
            <key>b/orange_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,205},{46,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,74},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,182},{32,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,106},{48,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,106},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,213},{38,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,104},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,158},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,156},{34,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,213},{36,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,214},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,110},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>b/poker_mask_scale9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,186},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>b/red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,205},{46,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,208},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,154},{32,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,173},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,158},{48,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,106},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{38,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,38},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,162},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{34,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,213},{36,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,186},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>b/smalltag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{31,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,164}}</string>
                <key>sourceSize</key>
                <string>{31,164}</string>
            </dict>
            <key>b/smalltag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{31,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,164}}</string>
                <key>sourceSize</key>
                <string>{31,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker_b.png</string>
            <key>size</key>
            <string>{1020,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9aca7e50f351d4ab28da3a5fd4f4be7:1/1$</string>
            <key>textureFileName</key>
            <string>poker_b.png</string>
        </dict>
    </dict>
</plist>
