<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GAMELOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,388},{369,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,113}}</string>
                <key>sourceSize</key>
                <string>{369,113}</string>
            </dict>
            <key>LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1030},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>PLAY.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,917},{247,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,247}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>aotuman.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,2},{586,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,165}}</string>
                <key>sourceSize</key>
                <string>{586,165}</string>
            </dict>
            <key>bendi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,738},{273,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{273,96}</string>
            </dict>
            <key>buzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,659},{301,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,303}}</string>
                <key>sourceSize</key>
                <string>{301,303}</string>
            </dict>
            <key>congxinkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1013},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>daikuangxiexie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,601},{264,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,121}}</string>
                <key>sourceSize</key>
                <string>{264,121}</string>
            </dict>
            <key>daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{385,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,384}}</string>
                <key>sourceSize</key>
                <string>{385,384}</string>
            </dict>
            <key>face.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,659},{257,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,256}}</string>
                <key>sourceSize</key>
                <string>{257,256}</string>
            </dict>
            <key>fenxiangciye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,738},{273,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{273,96}</string>
            </dict>
            <key>gamefenxiangwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{558,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,348}}</string>
                <key>sourceSize</key>
                <string>{558,348}</string>
            </dict>
            <key>gamestop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,605},{318,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,75}}</string>
                <key>sourceSize</key>
                <string>{318,75}</string>
            </dict>
            <key>gantanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,1013},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,1032},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>haoqiangda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{586,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,165}}</string>
                <key>sourceSize</key>
                <string>{586,165}</string>
            </dict>
            <key>huikuangduanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,836},{273,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{273,96}</string>
            </dict>
            <key>make.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,688},{391,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{391,48}}</string>
                <key>sourceSize</key>
                <string>{393,48}</string>
            </dict>
            <key>nnage.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,605},{560,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,52}}</string>
                <key>sourceSize</key>
                <string>{560,52}</string>
            </dict>
            <key>piaofuwu 1 .png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,1099},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>piaofuwu 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,964},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>qiangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,738},{273,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{273,96}</string>
            </dict>
            <key>querenwanceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,590},{273,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{273,96}</string>
            </dict>
            <key>sezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1032},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>spermHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,964},{78,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,105}}</string>
                <key>sourceSize</key>
                <string>{78,105}</string>
            </dict>
            <key>tairuole.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,336},{586,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,165}}</string>
                <key>sourceSize</key>
                <string>{586,165}</string>
            </dict>
            <key>tothank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,925},{229,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{229,113}}</string>
                <key>sourceSize</key>
                <string>{231,113}</string>
            </dict>
            <key>wangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,644},{453,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{453,37}}</string>
                <key>sourceSize</key>
                <string>{453,39}</string>
            </dict>
            <key>xiangpiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,606},{450,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,296}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>xiaolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,1032},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>xiaoxie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,590},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,934},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yinxiaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,934},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,934},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yinyueguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1005},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>youxijuese.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,724},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,964},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhenbiantai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,169},{586,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,165}}</string>
                <key>sourceSize</key>
                <string>{586,165}</string>
            </dict>
            <key>zhenhanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{586,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,165}}</string>
                <key>sourceSize</key>
                <string>{586,165}</string>
            </dict>
            <key>zidingyijianxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1058},{497,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,96}}</string>
                <key>sourceSize</key>
                <string>{497,96}</string>
            </dict>
            <key>zidingyitouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,503},{320,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,96}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>zucaidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,907},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zudangwu 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{640,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,300}}</string>
                <key>sourceSize</key>
                <string>{640,300}</string>
            </dict>
            <key>zudangwu 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,571},{640,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,32}}</string>
                <key>sourceSize</key>
                <string>{640,32}</string>
            </dict>
            <key>zudangwu 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,537},{640,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,32}}</string>
                <key>sourceSize</key>
                <string>{640,32}</string>
            </dict>
            <key>zudangwu 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,300}}</string>
                <key>sourceSize</key>
                <string>{640,300}</string>
            </dict>
            <key>zudangwu 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,503},{640,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,32}}</string>
                <key>sourceSize</key>
                <string>{640,32}</string>
            </dict>
            <key>zudangwu 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,2},{640,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,32}}</string>
                <key>sourceSize</key>
                <string>{640,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{1987,1166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6bcaa72ce6e45b24e6164b48035d6a9:1/1$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
