<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GAMELOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{369,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,113}}</string>
                <key>sourceSize</key>
                <string>{369,113}</string>
            </dict>
            <key>LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>PLAY.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,247}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>gantanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>huikuangduanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{273,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{273,96}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yinxiaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,117},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yinyueguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zidingyitouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,117},{320,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,96}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainUI.png</string>
            <key>size</key>
            <string>{1093,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b6c43dcb946e618ac9957c29c21b5f6:1/1$</string>
            <key>textureFileName</key>
            <string>mainUI.png</string>
        </dict>
    </dict>
</plist>
