<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GAMELOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{369,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,113}}</string>
                <key>sourceSize</key>
                <string>{369,113}</string>
            </dict>
            <key>LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,349},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>PLAY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{247,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,247}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>button_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,349},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>buzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{301,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,303}}</string>
                <key>sourceSize</key>
                <string>{301,303}</string>
            </dict>
            <key>congxinkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,251},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>daikuangxiexie.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,386},{264,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,121}}</string>
                <key>sourceSize</key>
                <string>{264,121}</string>
            </dict>
            <key>daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,384}}</string>
                <key>sourceSize</key>
                <string>{385,384}</string>
            </dict>
            <key>gamefenxiangwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{558,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,348}}</string>
                <key>sourceSize</key>
                <string>{558,348}</string>
            </dict>
            <key>gantanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,251},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,349},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>huikuangduanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,352},{273,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{273,96}</string>
            </dict>
            <key>piaofuwu 1 .png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,134},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>piaofuwu 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,251},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>spermHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,389},{78,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,105}}</string>
                <key>sourceSize</key>
                <string>{78,105}</string>
            </dict>
            <key>xiaolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,405},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>xiaoxie.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,450},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,450},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{48,46}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yinxiaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,450},{52,52}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,450},{42,44}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{42,44}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yinyueguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,450},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{52,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>youxijuese.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,307},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhucaidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,307},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zudangwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,352},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>zudangwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,352},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.pvr.ccz</string>
            <key>size</key>
            <string>{1582,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e88fbbdae7a093e0482e25f80e4d3204:1/1$</string>
            <key>textureFileName</key>
            <string>images.pvr.ccz</string>
        </dict>
    </dict>
</plist>
