<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sperm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{35,74}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>sperm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{29,74}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>sperm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,306},{27,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{27,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>sperm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{27,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{27,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>sperm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{35,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>sperm_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{29,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{29,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>sperm_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,154},{27,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{27,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>sperm_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,230},{25,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{25,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sperm.pvr.ccz</string>
            <key>size</key>
            <string>{62,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa9b3510f6793175e56787819b079fab:1/1$</string>
            <key>textureFileName</key>
            <string>sperm.pvr.ccz</string>
        </dict>
    </dict>
</plist>
